.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Star Wars", sans-serif;
  color: white;
}

.Div {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  margin-top: 10px;
}

.Button {
  margin-left: 20px;
  background-color: yellow;
  border-radius: 5px;
  font-family: "Star Wars", sans-serif;
  width: 100px;
  height: 30px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta esta altura según sea necesario */
  margin-top: 20px; /* Ajusta este margen superior según sea necesario */
}

ul {
  list-style-type: none;
  padding: 0;
}
